[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
manim = "0.16.0.post0"
ffmpeg = "1.4"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "manim main.py -pqh"